*{
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  padding:0 1rem;
  text-align: center;
  background-image: url(../public/assets/img/image21.jpg); background-size: cover;
  background-position: left; background-repeat: no-repeat;
  @media(max-width:1070px){
    background-image: url(../public/assets/img/image24.jpg); background-size: cover;
  background-position: left; background-repeat: no-repeat;
  }
}


